---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import PreviousWork from '../components/PreviousWork.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import CurrentProjects from "../components/CurrentProjects.astro";
---

<Layout title="Aly Elalwany" description="software engineer who likes to build stuff" icon="/favicon.svg">
  <Hero />
    <section id="about" class="py-20 px-6 bg-neutral-50">
        <About />
    </section>
    <section id="current-projects" class="py-20 px-6 max-w-7xl mx-auto">
        <CurrentProjects />
    </section>
  <section id="previous-work" class="py-20 px-6 max-w-7xl mx-auto">
      <PreviousWork />
  </section>
  <section id="contact" class="py-20 px-6 max-w-7xl mx-auto">
    <Contact />
  </section>
</Layout>
