---
import '../styles/global.css';
interface Props {
  title: string;
  description: string;
  icon: string;
}
const { title, description, icon } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content={description}>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <title>{title}</title>
    <link rel="icon" href={icon} />
</head>
<body>
<main>
    <slot />
</main>
</body>
</html>